
.DS_Store
*.asv
*.m~
AnimalLogger/
AnimalLogger.prj
datajoint-SchwartzLab/+sl_old/*
*.bak
datajoint-SchwartzLab/+sl_092920*
test.sql
ML/makePSTHfromDB.m
ML/makePSTHfromPSTH.m
ML/makePSTHfromTable.m
ML/prepareSMSData.m
schemas/+sln_animal/Cage.m
schemas/+sln_animal/init_animals.m
schemas/+sln_animal/init_animals2.m
schemas/+sln_symphony/insert_all_datasets_for_experiment.m
schemas/+sln_animal/init_animals.m
schemas/+sln_animal/Cage.m
schemas/+sln_animal/init_animals.m
schemas/+sln_symphony/insert_all_datasets_for_experiment.m
schemas/+sln_animal/Cage.m
.DS_Store
